<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Demo App</title>
</head>
<body>
    {%block list %} {%endblock%}
    {%block new_user %} {%endblock%}
    {%block user_page %} {%endblock%}
    {%block post_form %} {%endblock%}
    {%block edit_page %} {%endblock%}
    {%block post_page %}{%endblock%}
    {%block edit_post_page %}{% endblock %}
    {% block create_tag %}{% endblock %}
    {% block edit_tag %}{% endblock %}
    {% block list_tags %}{% endblock %}
    {% block tag_page %}{% endblock %}
    <br><a href="/">Home</a>
</body>
</html>